Makefile.in
m4/
*~
*.c
core.*
hs_err_pid*.log
gbank.sublime-project
gbank.sublime-workspace
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
autom4te.cache
depcomp
install-sh
ltmain.sh
missing
libtool
Makefile
src/Makefile
*.o
